.module_block_title {
  width: 263px;
  height: 74px;

  /*  */

  color: #F5F2EB;
  text-align: left;
  font-family: Forum;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 250% */
  letter-spacing: 1.6px;
  text-transform: uppercase;

}

.module_block_subtitle {

  margin-top: 10px;

  /*  */

  width: 842px;

  /*  */

  color: #F5F2EB;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 125% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.module_block_list_container {
  margin-top: 10px;
}

.module_block_list_wrapper {

    padding-left: 15px;
}

.module_block_list_elem {
  list-style: disc;
  color: #F5F2EB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 143.75% */
  font-variant: small-caps;
  letter-spacing: 0.8px;

}