.block_title {


  /*  */

  color: #F5F2EB;
  text-align: left;
  font-family: Forum;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 177.778% */
  letter-spacing: 2.25px;
  text-transform: uppercase;
}